#cards {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#cards td, #cards th {
    border: 1px solid #ddd;
    padding: 8px;
    width:200px;
}

#cards tr:nth-child(even){background-color: #f2f2f2;}

#cards tr:hover {background-color: #ddd;}

#cards th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgray;
    color: black;
}
